[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
;[submodule "bundle/fugitive"]
	;path = bundle/fugitive
	;url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/blueyed/vim-autoclose.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/rainbow-parenthesis"]
	path = bundle/rainbow-parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = https://github.com/duff/vim-scratch.git
;[submodule "bundle/zencoding"]
	;path = bundle/zencoding
	;url = https://github.com/mattn/zencoding-vim.git
;[submodule "bundle/conque-term"]
	;path = bundle/conque-term
	;url = https://github.com/rosenfeld/conque-term.git
[submodule "bundle/preview"]
	path = bundle/preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tail"]
	path = bundle/tail
	url = https://github.com/vim-scripts/Tail-Bundle.git
;[submodule "bundle/minibufexpl"]
	;path = bundle/minibufexpl
	;url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/clojure"]
	path = bundle/clojure
	url = https://github.com/jondistad/vimclojure.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = http://github.com/bingaman/vim-sparkup.git
[submodule "bundle/slime"]
	path = bundle/slime
	url = https://github.com/jpalardy/vim-slime
[submodule "colors/molokai"]
	path = colors/molokai
	url = git://github.com/vim-scripts/molokai.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/puppet-vim"]
	path = bundle/puppet-vim
	url = https://github.com/ajf/puppet-vim.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/mmalecki/vim-node.js.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/netrw"]
	path = bundle/netrw
	url = https://github.com/vim-scripts/netrw.vim
[submodule "bundle/applescript"]
	path = bundle/applescript
	url = git://github.com/vim-scripts/applescript.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/multiselect"]
	path = bundle/multiselect
	url = https://github.com/vim-scripts/multiselect.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/bdd/vim-scala.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
